HOST=0.0.0.0
PORT=8080
NUM_NODES=3
COLLECTION_INTERVAL=5
RETENTION_SECONDS=86400
AGGREGATION_WINDOW=300
CPU_WARNING=70
CPU_CRITICAL=90
MEMORY_WARNING=80
MEMORY_CRITICAL=95
LATENCY_WARNING=100
LATENCY_CRITICAL=500
DASHBOARD_REFRESH=10
