NODE_ID=node1
HOST=0.0.0.0
PORT=5001
STORAGE_DIR=/data
CLUSTER_NODES=[{"id":"node1","host":"localhost","port":5001},{"id":"node2","host":"localhost","port":5002},{"id":"node3","host":"localhost","port":5003}]
REPLICATION_FACTOR=2
HEALTH_CHECK_INTERVAL=10
QUORUM_SIZE=2
