# Common
LOG_LEVEL=INFO

# Coordinator
COORDINATOR_PORT=8000
PARTITION_URLS=partition-1=http://partition-1:8101,partition-2=http://partition-2:8102,partition-3=http://partition-3:8103
REQUEST_TIMEOUT=5.0
DEFAULT_LIMIT=1000
MAX_CONCURRENT_QUERIES=100
QUERY_TIMEOUT=30.0

# Partition
PARTITION_ID=partition-1
PARTITION_PORT=8101
PARTITION_TIME_START=2026-04-01T00:00:00
PARTITION_TIME_END=2026-04-07T23:59:59
INDEXED_FIELDS=level,service,timestamp
LOG_SAMPLE_COUNT=5000
