services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./logs:/app/logs
    environment:
      - PYTHONUNBUFFERED=1

  tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    profiles:
      - test
