services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./logs:/app/logs
    environment:
      - PYTHONUNBUFFERED=1

  tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    profiles:
      - test

  verify:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash verify.sh
    volumes:
      - ./logs:/app/logs
    profiles:
      - verify

  app-production:
    build:
      context: .
      dockerfile: Dockerfile.production
    volumes:
      - ./logs:/app/logs
    environment:
      - PYTHONUNBUFFERED=1
    profiles:
      - production
