# Coordinator
HOST=0.0.0.0
PORT=8080
PARTITION_URLS=http://localhost:8081,http://localhost:8082
QUERY_TIMEOUT=5.0
MAX_CACHE_SIZE=1000
MAX_MERGE_SIZE=10000

# Partition
PARTITION_ID=partition_1
LOG_COUNT=5000
DAYS_BACK=7
